@model ProyectoWeb.Entities.UsuarioEnt
@{
    ViewData["Title"] = "ProductosLista";
    Layout = "~/Views/Shared/_Layout_ProductosLista.cshtml";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                    <h1>Lista de Productos</h1>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

