/* _content/ProyectoWeb/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-wbci3pxnl6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-wbci3pxnl6] {
  color: #0077cc;
}

.btn-primary[b-wbci3pxnl6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wbci3pxnl6], .nav-pills .show > .nav-link[b-wbci3pxnl6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-wbci3pxnl6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-wbci3pxnl6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wbci3pxnl6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wbci3pxnl6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wbci3pxnl6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoWeb/Views/Shared/_Layout_Login.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-w53fb415tq] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-w53fb415tq] {
    color: #0077cc;
}

.btn-primary[b-w53fb415tq] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-w53fb415tq], .nav-pills .show > .nav-link[b-w53fb415tq] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-w53fb415tq] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-w53fb415tq] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-w53fb415tq] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-w53fb415tq] {
    font-size: 1rem;
    line-height: inherit;
}

.page-body-wrapper[b-w53fb415tq] {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

.footer[b-w53fb415tq] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/* _content/ProyectoWeb/Views/Shared/_Layout_Usuarios.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-u0jhgtq2b0] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-u0jhgtq2b0] {
    color: #0077cc;
}

.btn-primary[b-u0jhgtq2b0] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-u0jhgtq2b0], .nav-pills .show > .nav-link[b-u0jhgtq2b0] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-u0jhgtq2b0] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-u0jhgtq2b0] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-u0jhgtq2b0] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-u0jhgtq2b0] {
    font-size: 1rem;
    line-height: inherit;
}

.page-body-wrapper[b-u0jhgtq2b0] {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

.footer[b-u0jhgtq2b0] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
