/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yxlz8kvjd2] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-yxlz8kvjd2] {
    color: #0077cc;
}

.btn-primary[b-yxlz8kvjd2] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yxlz8kvjd2], .nav-pills .show > .nav-link[b-yxlz8kvjd2] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-yxlz8kvjd2] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-yxlz8kvjd2] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yxlz8kvjd2] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yxlz8kvjd2] {
    font-size: 1rem;
    line-height: inherit;
}

.page-body-wrapper[b-yxlz8kvjd2] {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

.footer[b-yxlz8kvjd2] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
